<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div>
                <h1>SHARE YOUR IDEAS!</h1>
            </div>
            <div>
                <form action="/create_post" method="POST">
                <table>
                    <tr>
                        <td>
                            <textarea name="content" placeholder="Write your post here..." style="width:650px;height:250px"></textarea>
                        </td>
                        <td>
                            <input type="submit" name="post" value="Post">
                        </td>
                    </tr>
                </table>
                </form>
            </div>
</body>
</html>